# Ignore node_modules
node_modules/

# Ignore compiled output
dist/
out/

# Ignore TypeScript cache
*.tsbuildinfo

# Ignore logs
*.log

# Ignore IDE and editor settings
.vscode/
.idea/

# Exclude package-lock.json
package-lock.json